[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "nvim/plugged/html5.vim"]
	path = nvim/plugged/html5.vim
	url = /Users/brendanarciszewski/dotfiles/nvim/plugged/html5.vim
[submodule "nvim/plugged/colorizer"]
	path = nvim/plugged/colorizer
	url = /Users/brendanarciszewski/dotfiles/nvim/plugged/colorizer
[submodule "nvim/plugged/nerdtree"]
	path = nvim/plugged/nerdtree
	url = /Users/brendanarciszewski/dotfiles/nvim/plugged/nerdtree
[submodule "nvim/plugged/vim-airline"]
	path = nvim/plugged/vim-airline
	url = /Users/brendanarciszewski/dotfiles/nvim/plugged/vim-airline
[submodule "nvim/plugged/vim-airline-themes"]
	path = nvim/plugged/vim-airline-themes
	url = /Users/brendanarciszewski/dotfiles/nvim/plugged/vim-airline-themes
[submodule "nvim/plugged/vim-colors-solarized"]
	path = nvim/plugged/vim-colors-solarized
	url = /Users/brendanarciszewski/dotfiles/nvim/plugged/vim-colors-solarized
[submodule "nvim/plugged/vim-commentary"]
	path = nvim/plugged/vim-commentary
	url = /Users/brendanarciszewski/dotfiles/nvim/plugged/vim-commentary
[submodule "nvim/plugged/vim-css3-syntax"]
	path = nvim/plugged/vim-css3-syntax
	url = /Users/brendanarciszewski/dotfiles/nvim/plugged/vim-css3-syntax
[submodule "nvim/plugged/vim-fugitive"]
	path = nvim/plugged/vim-fugitive
	url = /Users/brendanarciszewski/dotfiles/nvim/plugged/vim-fugitive
[submodule "nvim/plugged/vim-go"]
	path = nvim/plugged/vim-go
	url = /Users/brendanarciszewski/dotfiles/nvim/plugged/vim-go
[submodule "nvim/plugged/vim-sensible"]
	path = nvim/plugged/vim-sensible
	url = /Users/brendanarciszewski/dotfiles/nvim/plugged/vim-sensible
[submodule "nvim/plugged/vimtex"]
	path = nvim/plugged/vimtex
	url = /Users/brendanarciszewski/dotfiles/nvim/plugged/vimtex
